a {
	color:#A2FF3F;
}
a:hover,a:focus {
	color:#D42015;
}
.marginBot20 {
	margin-bottom: 20px;
}
.navbar-custom {
    background-color: #EDEDED;
    border-bottom: 1px solid #474747;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #A2FF3F;
	color: #474747;
	font-weight: bold;
}

.nav > li > a {
	font-weight: bold;
	color: #474747;
}

.navbar-brand {
    padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.darkgrey {
	color:#474747 !important;
}

.grey {
	color: #EDEDED !important;
}

.green {
	color: #A2FF3F !important;
}