<div id="middle" class="container">
    <div class="white">

        <div class="row">

            <!-- LOGIN -->
            <div class="col-md-6">

                <h4><strong>Entrar</strong></h4>

                <form>

                    <!-- alert failed -->
                    <div class="alert alert-danger" ng-show="errors.login">
                        <span ng-show="errors.loginCode == '4'"><strong>Usuario</strong> y/o <strong>Contraseña</strong> inválido!</span>
						<span ng-show="errors.loginCode == '1'"><strong>La sesión ha caducado, vuelva a intentarlo</strong></span>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Usuario</label>
                                <input type="text" value="" class="form-control" ng-model="view.user">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Contraseña</label>
                                <input type="password" value="" class="form-control" ng-model="view.password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary pull-right" ng-click="login(view.user, view.password)">Entrar</button>
						</div>
                    </div>

                </form>

            </div>
            <!-- /LOGIN -->

            <!-- PASSWORD -->
            <div class="col-md-6">

                <h4>Olvidaste la <strong>contraseña</strong>?</h4>
                <!-- alert success -->
                <div class="alert alert-success">
                    <strong>Nuevo password enviado!</strong> Comprueba tu E-mail!
                </div>

                <!-- alert failed -->
                <div class="alert alert-danger">
                    <strong>E-mail</strong> no encontrado!
                </div>

                <!-- password form -->
                <label class="font300">Escribe tu E-mail</label>
                <form class="input-group" method="post" action="#">
                    <input type="text" class="form-control" name="s" id="s" value="" placeholder="Dirección de E-mail" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary">ENVIAR</button>
                    </span>
                </form>

            </div>
            <!-- /PASSWORD -->

        </div>

        <hr />

        <!-- CALLOUT -->
        <div class="alert alert-default fade in">

            <div class="row">

                <div class="col-md-9 col-sm-8"><!-- left text -->
                    <h4 class="nomargin">Nuevo <strong>Usuario</strong></h4>
                    <p class="nomargin">
                        Eres nuevo y aún no tienes cuenta?
                    </p>
                </div><!-- /left text -->


                <div class="col-md-3 col-sm-4 text-right"><!-- right btn -->
                    <a href="#/register" class="btn btn-primary btn-lg">REGÍSTRATE</a>
                </div><!-- /right btn -->

            </div>

        </div>
        <!-- /CALLOUT -->
    </div>
</div>