<div id="middle" class="container">
	<div class="white">
		<header class="page-header">
			<h1>Acount Settings</h1>
		</header>
		<hr class="half-margins invisible" /><!-- spacer 30px -->
		<div class="row">
			<!-- PERSONAL DETAILS -->
			<div class="col-md-7 col-sm-7">
				<h4>Personal <strong>Details</strong></h4>
				<form action="#" method="post">
					<div class="row">
						<div class="form-group">
							<div class="col-md-6">
								<label>First Name *</label>
								<input type="text" value="" class="form-control" />
							</div>
							<div class="col-md-6">
								<label>Last Name *</label>
								<input type="email" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label>Email *</label>
								<input type="text" value="" class="form-control" />
							</div>
							<div class="col-md-6">
								<label>Phone</label>
								<input type="email" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label>Country *</label>
								<select class="form-control pointer">
									<option value="" selected="selected"></option>
								</select>
							</div>
							<div class="col-md-6">
								<label>City *</label>
								<input type="email" value="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label>Address</label>
								<textarea rows="3" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-6">
								<label class="block">Newsletter</label>
								<label class="pointer"><input type="checkbox" value="" class="form-control" checked="checked" /> I want monthly newsletter</label>
							</div>
							<div class="col-md-6">
								<label class="block">Sex</label>
								<label class="pointer"><input type="radio" name="radio_name" value="1" class="form-control" checked="checked" /> Female</label>
								<label class="pointer padding-left20"><input type="radio" name="radio_name" value="2" class="form-control" /> Male</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary"><i class="fa fa-check"></i> Save Changes</button> 
						</div>
					</div>
				</form>
			</div>
			<!-- /PERSONAL DETAILS -->

			<!-- PASSWORD -->
			<div class="col-md-4 col-sm-4 responsive-top-space">
				<h4>Change <strong>Password</strong></h4>
				<form action="#" method="post">
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label>Old Password *</label>
								<input type="password" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<label>New Password *</label>
								<input type="password" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<label>New Password Again *</label>
								<input type="password" value="" class="form-control" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary"><i class="fa fa-check"></i> Change Password</button> 
						</div>
					</div>
				</form>
			</div>
			<!-- /PASSWORD -->
		</div>
	</div>
</div>