<div class="row">
	<div class="col-xs-12">
		<label>Título</label>
		<input type="text" class="form-control" ng-model="view.sponsor.name">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>URL</label>
		<input type="text" class="form-control" ng-model="view.sponsor.url">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Imágen</label>
		<input type="text" class="form-control" ng-model="view.sponsor.imageurl">
	</div>
</div>	
<div class="row" style="margin-top: 20px;">
	<div class="col-xs-12">
		<label>Preview</label>
		<a href="{{view.sponsor.url}}"><img style="display: block; margin-left: auto; margin-right: auto;" src="{{view.sponsor.imageurl}}"></a>
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-xs-12">
		<button class="btn btn-primary pull-right" ng-click="publish(view.sponsor)">Enviar</button>
	</div>
</div>