<div class="row">
	<div class="col-xs-12">
		<label>Imágen cabecera</label> <input type="text" class="form-control"
			ng-model="view.activity.image"/>
			
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Título</label> <input type="text" class="form-control"
			ng-model="view.activity.name">
	</div>
</div>
<div class="row">
	<label class="col-xs-12">Categoría</label>
	<div class="col-xs-6">
		<select class="form-control" ng-model="view.activity.type">
			<option value="production">Produccion</option>
			<option value="tournament">Torneo</option>
			<option value="conference">Conferencia</option>
		</select>
	</div>
	<div class="col-xs-6">
		<div class="checkbox">
			<label> <input type="checkbox"
				ng-model="view.activity.oficial"> Oficial
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<label>Descripción</label>
		<div text-angular ng-model="view.activity.description"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary pull-right"
			ng-click="publish(view.activity)">Enviar</button>
	</div>
</div>