<div class="row">
	<div class="col-xs-12">
		<label>Título</label> <input type="text" class="form-control"
			ng-model="view.event.name">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Precio</label> <input type="text" class="form-control"
			ng-model="view.event.price">
	</div>
</div>
<div class="row">
	<div class="col-xs-3" style="margin-top: 13px;">
		<label>Apertura de inscripciones:</label>
		<div class="input-group">
			<input ng-click="openInscriptionStart($event)" type="text"
				class="form-control" datepicker-popup="{{format}}"
				show-button-bar="false" ng-model="view.registrationOpenDate"
				is-open="openedInscriptionStart" datepicker-options="dateOptions"
				datepicker-mode="'day'" /> <span class="input-group-addon"
				style="cursor: pointer;" ng-click="openInscriptionStart($event)"><span
				class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
	<div class="col-sm-3">
		<timepicker ng-model="view.registrationOpenDate" show-meridian="false"></timepicker>
	</div>
	<div class="col-xs-3" style="margin-top: 13px;">
		<label>Cierre de inscripciones:</label>
		<div class="input-group">
			<input ng-click="openInscriptionEnd($event)" type="text"
				class="form-control" datepicker-popup="{{format}}"
				show-button-bar="false" ng-model="view.registrationCloseDate"
				is-open="openedInscriptionClose" datepicker-options="dateOptions"
				datepicker-mode="'day'" /> <span class="input-group-addon"
				style="cursor: pointer;" ng-click="openInscriptionEnd($event)"><span
				class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
	<div class="col-sm-3">
		<timepicker ng-model="view.registrationCloseDate"
			show-meridian="false"></timepicker>
	</div>
</div>
<!--<div class="row">
	<div class="col-xs-3" style="margin-top: 13px;">
		<label>Inicio del evento:</label>
		<div class="input-group">
			<input ng-click="open($event)"  type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" ng-model="view.date" is-open="opened" datepicker-options="dateOptions" datepicker-mode="'day'" />
			<span class="input-group-addon" style="cursor: pointer;" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
	<div class="col-sm-3">
		<timepicker ng-model="view.date" show-meridian="false"></timepicker>
	</div>
	<div class="col-xs-3" style="margin-top: 13px;">
		<label>Fin del evento:</label>
		<div class="input-group">
			<input ng-click="open($event)"  type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" ng-model="view.date" is-open="opened" datepicker-options="dateOptions" datepicker-mode="'day'" />
			<span class="input-group-addon" style="cursor: pointer;" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
	<div class="col-sm-3">
		<timepicker ng-model="view.date" show-meridian="false"></timepicker>
	</div>
</div>-->
<div class="row">
	<div class="col-xs-12">
		<label>Descripción</label>
		<!--<input type="text" class="form-control" ng-model="view.event.description">-->
		<div text-angular ng-model="view.event.description"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Normas</label>
		<div text-angular ng-model="view.event.normas"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary pull-right" ng-click="send(view.event)">Enviar</button>
	</div>
</div>