<div class="row">
	<div class="col-xs-12">
		<label>Imágen cabecera</label>
		<input type="text" class="form-control" ng-model="view.news.image">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Título</label>
		<input type="text" class="form-control" ng-model="view.news.title">
	</div>
</div>
<div class="row" >
	<div class="col-sm-3">
		<label class="pull-left">¿Publicar ahora?</label>&emsp;<input class="form-control" type="checkbox" ng-model="view.publishNow"></input>
	</div>
	<div class="col-sm-6" ng-hide="view.publishNow">
		<label>Fecha de publicación</label>
		<div class="input-group" style="margin-top: 13px;">
		  <input ng-click="open($event)"  type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" ng-model="view.date" is-open="opened" datepicker-options="dateOptions" datepicker-mode="'day'" />
		  <span class="input-group-addon" style="cursor: pointer;" ng-click="open($event)">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
		</div>
	</div>
	<div class="col-sm-3" ng-hide="view.publishNow">
		<timepicker ng-model="view.date" show-meridian="false"></timepicker>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Contenido</label>
		<div text-angular ng-model="view.news.content"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary pull-right" ng-click="publish(view.news)">Enviar</button>
	</div>
</div>