doctype html
html
    
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='FICOnLan Web')
        meta(name='author', content='Freaks Party')
            
        title FICOnLan VI       

        link(rel="stylesheet", type="text/css", href="css/styles.css")

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js")
        
    body
        .bg-image
        .bg-dots
        img.logo-place(src="img/minilogo.png")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="js/scripts.js")
        script.
            angular.bootstrap(document, ['FICONLAN']);